apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80  # Exposing port 80 externally
      targetPort: 8080  # Forwarding to port 8080 inside the container
  type: LoadBalancer  # Exposes the service to the internet
