name: Helm

on:
  workflow_dispatch:
    inputs:
      component:
        description: 'Select DAMS component to deploy'
        type: choice
        required: true
        options:
          - damsui
          - damscorapi
          - damsbatchjobs

      version:
        description: 'Select version to deploy'
        type: choice
        required: true
        options:
          - 0.0.1
          - 0.0.2
          - 0.0.3
          - 0.0.4
          - latest
        default: latest

      environment:
        description: 'Target deployment environment'
        type: choice
        required: true
        options:
          - DEV
          - ITT
          - UAT

permissions:

jobs:
  deploy-dev:
    if: ${{ github.event.inputs.environment == 'DEV' }}
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to DEV
        run: |
          echo "Deploying component : ${{ github.event.inputs.component }}"
          echo "Version             : ${{ github.event.inputs.version }}"
          echo "Target environment  : DEV"
          echo "Approved by : $GITHUB_ACTOR"
          echo "Triggered by: ${{ github.triggering_actor }}"

  deploy-itt:
    if: ${{ github.event.inputs.environment == 'ITT' }}
    runs-on: ubuntu-latest
    environment: ITT

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to ITT
        run: |
          echo "Deploying component : ${{ github.event.inputs.component }}"
          echo "Version             : ${{ github.event.inputs.version }}"
          echo "Target environment  : ITT"          
          echo "Approved by : $GITHUB_ACTOR"
          echo "Triggered by: ${{ github.triggering_actor }}"

  deploy-uat:
    if: ${{ github.event.inputs.environment == 'UAT' }}
    runs-on: ubuntu-latest
    environment: UAT

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to UAT
        run: |
          echo "Deploying component : ${{ github.event.inputs.component }}"
          echo "Version             : ${{ github.event.inputs.version }}"
          echo "Target environment  : UAT"
          echo "Approved by : $GITHUB_ACTOR"
          echo "Triggered by: ${{ github.triggering_actor }}"
